/* GANTI SCROLL */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: #009EEB;
  border-radius: 12px;
}
/* FONT */
@font-face {
font-family: 'Gilroy-Bold';
font-style: normal;
font-weight: normal;
src: local('Gilroy-Bold'), url('Gilroy-Bold.woff') format('woff');
}


@font-face {
font-family: 'Gilroy-Heavy';
font-style: normal;
font-weight: normal;
src: local('Gilroy-Heavy'), url('Gilroy-Heavy.woff') format('woff');
}


@font-face {
font-family: 'Gilroy-Light';
font-style: normal;
font-weight: normal;
src: local('Gilroy-Light'), url('Gilroy-Light.woff') format('woff');
}


@font-face {
font-family: 'Gilroy-Medium';
font-style: normal;
font-weight: normal;
src: local('Gilroy-Medium'), url('Gilroy-Medium.woff') format('woff');
}


@font-face {
font-family: 'Gilroy-Regular';
font-style: normal;
font-weight: normal;
src: local('Gilroy-Regular'), url('Gilroy-Regular.woff') format('woff');
}
/* FONT END  */

* {box-sizing: border-box}
body {
  font-family: Arial, Helvetica, sans-serif;
  overflow: auto;
  overflow-x: hidden;
  margin: 0 auto;
  height: 100%;
}
img {
  vertical-align: middle;
}
html{
  scroll-behavior: smooth;
  margin:0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  height: 100%;
}
section {
  display: block;
  position: relative;
  height: auto;
  min-height: 100vh;
}
/* Slideshow container */
.slideshow-container {
  width: 100%;
  height: 100vh;
  position: relative;
  margin: auto;
}

.centersolute{
position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
}
/* Next & previous buttons */
.prev img, .next img{
  display: block;
  width: 50%;
}

.prev:hover{
  transition: 0.5s ease;
  padding-left: 4rem;
}
.next:hover{
  transition: 0.5s ease;
  padding-right: 2rem;
}
.prev, .next {
  transition: 0.5s ease;
  padding-left: 5rem;
  cursor: pointer;
  position: absolute;
  top: 45%;
  color: white;
  font-weight: bold;
  font-size: 18px;
  user-select: none;
}

.pic{
  width: 87%;
  padding: 3rem 0rem 3rem 8rem;
  padding-top: 10rem;
}
.pic2{
  width: 87%;
  padding: 6rem 0rem 3rem 6rem;
  padding-top: 14rem;
}

/* Position the "next button" to the right */
.next {
  padding-left: 0rem;
  padding-right: 3rem;
  right: 0;
}
.kolom {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.kolom1{
    -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .kolom2 {
    -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .kolom3 {
    -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    max-width: 25%;
  }
  .kolom4 {
    -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%; 
    max-width: 33.333333%;
  }
  .kolom5{
    -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .kolom6{
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%;
  }
  .kolom7{
    -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .kolom73{
    -ms-flex: 0 0 55.333333%;
        flex: 0 0 55.333333%;
    max-width: 55.333333%;
  }
  .kolom8{
    -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .kolom9 {
    -ms-flex: 0 0 75%;
        flex: 0 0 75%;
    max-width: 75%;
  }
  .kolom10 {
    -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .kolom11 {
    -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .kolom12 {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
  }

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.center{
text-align: center !important;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.badge{
  margin-left: 85px;
  font-size: 34px !important;
}

.disable{
  display: none;
}

/* The dots/bullets/indicators */
.dot {
  border-style: none;
  cursor: pointer;
  height: 8px;
  width: 90px;
  margin: 0 2px;
  background-color: rgb(120, 120, 120);
  border-radius: 35px;
  display: inline-block;
  transition: 0.6s ease;
}
.dot:hover{
  transition: 0.6s ease;
  width: 110px;
}
/* The dots/bullets/indicators */
.dot2 {
  border-style: none;
  cursor: pointer;
  height: 14px;
  width: 14px;
  margin: 0 2px;
  background-color: rgb(120, 120, 120);
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
  transition: 0.4s ease;
}
.dot2:hover{
  transition: 0.4s ease;
  width: 18;
  height: 18;
}
.dot3 {
  border-style: none;
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 2px;
  background-color: rgb(190, 190, 190);
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
  transition: 0.4s ease;
}
.dot3:hover{
  transition: 0.4s ease;
  width: 16;
  height: 16;
}
.dot3 p{
  margin-left: -3px;
  font-size: 12px;
  padding-top: 10px;
  text-align: center;
}
.dot4 {
  border-style: none;
  height: 2.5px;
  width: 28px;
  background-color: rgb(190, 190, 190);
  display: inline-block;
  vertical-align: middle;
  transition: 0.s ease;
}
#indicator .active{
  width: 18px;
  height: 18px;
}

.active, .dot2:hover, .dot:hover, .dot3:hover{
  background-color: #009EEB;
}
.active2, .yearslider:hover{
  color:white;
  text-decoration-line: underline;
}

/* Fading animation */


@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.arrow{
cursor: pointer;
transition: 0.5s ease;
width: 10%;
margin-left: 20px;
padding-bottom: 10rem
}
.arrow:hover{
  transition: 0.5s ease;
  padding-top: 2rem;
  }

.navbar{
  font-size: 20px ;
  position: absolute;
  margin-top: 3rem;
}

.nav{
  margin: 0 12px;
  color: white;
}

.white{
  color: white;
}
.black{
  color: white;
}
a {
  text-decoration: none;
}
.title{
  cursor: default;
  display: inline-block;
  text-align: center;
  font-size: 10rem !important;
  position: absolute;
  left: 25%;
  padding-top: 40px;
  z-index: 0;
  transition: 0.5s ease;
}

.title:hover{
  transition: 0.5 ease;
  z-index: 10;
  text-shadow: 0.75rem 0.75rem black;
}
.title2{
  margin-top: 2rem !important;
}
.title2 p{
  text-align: left;
  margin:0;
  font-size: 40pt;
  padding-left: 8rem;
}
.title3 p{
  font-size: 58pt;
  
}
.bisnis{
  margin-left: 1.9rem;
}

.particle{
  width: 65%;
  position: absolute;
  margin-left: 240px;
  margin-top: 200px;
}

.primaryfont{
  font-family: 'Gilroy-Heavy';
  font-size: 40px;  
  letter-spacing: -1;
}

.secondaryfont{
  font-family: 'gilroy-light';
  font-size: 15px;
  font-weight: 600;
}
.normalfont{
  font-family: 'Gilroy-Medium';
  font-size: 40px;
  font-weight: 900;
}

.percentage{
  font-size: 56px;
  font-weight: 200 !important;
} 
.percentage div{
  margin-right: 2.5rem;
}
.percentage div p{
  margin: 0;
  margin-left: -5px;
  margin-top: -5px;
  font-size: 18px;
  text-align: center;
}
.wrapper{
  text-align:center;
  height:100%;
}

.slider{
  position: absolute;
  margin-left: 46.5rem;
  padding-top: 34rem;
  z-index: 20;
}
.content .primaryfont{
margin-top: 160px;
}

.content .secondaryfont{
  padding-right: 14rem;
  text-align: justify;
}
/*tes*/
.example-desc {
  margin:3px 0;
  padding:5px;
}

#carousel {
  width:100%;
  padding-top: 16rem;
}
#carousel img {
  visibility:hidden; /* hide images until carousel can handle them */
  cursor:pointer; /* otherwise it's not as obvious items can be clicked */
}
#carousel2 {
 margin-left: 280px;
  width:800px;
    height: 300px;
    display: relative;
    clear:both;
    overflow:hidden;
}
#carousel2 img {
  visibility:hidden; /* hide images until carousel can handle them */
  cursor:pointer; /* otherwise it's not as obvious items can be clicked */
}
.round{
  transition: 0.4s ease;
  border-radius: 100%;
  border-style: solid;
  border-color: white;
}
.round:hover{
  transition: 0.4s ease;
  border-width: 10px;
  border-style: solid;
  border-color: white;
}

.profile{
  text-align: center;
}

.tab{
  padding: 0 33rem;
  text-align: center;
}
.tab h2{
  font-family: 'Gilroy-medium';
}

.tab i{
font-style: normal;
}

.tab p{
text-align: center !important;
font-size: 18px;
}

.tab2{
  padding: 0 20rem;
  text-align: center;
}

.tab2 p{
text-align: center !important;
font-size: 18px;
margin: 0;
}

.tab2 h1{
  font-size: 2.5rem;
  margin-bottom: 0;
}
.mfp-hide {
  display: none!important;
}
.video{
  transition: 0.4s ease;
  position:absolute;
  margin-top:72.4rem;
  margin-left: 815px;
}
.video img{
  width: 65%;
}

.grad{
  margin-top: 5rem;
  height: 100%;
  background: url(img/grad.png);
}
.grad2{
z-index: -1;
height: 150vh;
background: url(img/grad.png);
background-size: cover;
}

.p{
  padding-top: 30rem;
}

.right{
  text-align: right !important;
}
.left{
  text-align: left !important;
}
.p .secondaryfont{
  padding-top: 1rem;
  font-size: 4rem;
  text-align: center;
}
.p .secondaryfont p{
  margin-block-start: 0;
  font-size: 20px;
}



.jar1{
  position: absolute;
  width: 20%;
  
}

.jar2{
  position: absolute;
  width: 20%;
  left: 80%
}
.jar3{
  position: absolute;
  width: 70%;
  right: 55%
}

.circle {
  height: 100px;
  width: 100px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: inline-block;
  margin-left: 39rem;
}

.secondaryfont i{
  font-style: normal;
}

/* .hideme{
    opacity:0;
}  */
.yearslider{
  font-size: 28px; ; position: absolute; cursor: pointer; 
}
#againts{
  border-top: solid white;
}

.againts{
  margin: 0;
  font-size: 2.5rem;
  text-align: right;
  margin-right: 8rem;
  padding-top: 4rem;
}
.againts2{
  margin: 0;
  text-align: justify;
  margin-left: 11.5rem;
  padding-top: 7rem;
}
.againts p{
  margin: 0px;
  
}
.title3{
  font-family: 'Gilroy-Medium';
  letter-spacing: 1;
  padding-top: 2rem;
  padding-bottom: 4rem;
  margin-left: 10px;
  text-align: left;
}
.alert{
  padding: 0 28rem;
  text-align: center;
  display: inline-block
}

.alert .primaryfont{
  font-size: 3rem;
}
.alert p{
  text-align: justify !important;
  font-size: 1.5rem;
}

.bgwhite{
  z-index: -100;
  background-color: white;
}

.bgsection{
  z-index: -5;
  position: absolute;
  width: 30%;
}
.bgsection2{
  z-index: -6;
  position: absolute;
  width: 100%;
}
.slidedown{
  cursor: pointer;
  padding-top: 3rem;
  width: 15%;
  transition: 0.6s;
}
.slidedown:hover{
  transition: 0.6s;
  padding-top: 5rem;
}

.foot{

  bottom: 0;
  position:absolute;
  max-width: 100%;
  z-index:-2;
}
.m-0{
  margin: 0px;
}

.btn{
transition: 0.4s ease;
padding: 0.8rem 1rem;
padding-right: 24rem;
border: solid rgb(170, 170, 170);
border-width: 1.4px;
border-radius: 25px;
font-weight: 600;
color: black;
}
.jt{
  text-align: justify!important;
  margin-top: 30px;
  padding-left: 8rem;
  padding-right:30rem;
}
.jt2{
  padding-left: 7.5rem;
}
.yearslider{
  font-size: 28px; margin-top: 55px; position: absolute; cursor: pointer;

}
.arial{
  font-family: Helvetica, sans-serif;
}
.blocker {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 10;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.75);
  text-align: center;
}
.blocker:before{
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.05em;
}
.blocker.behind {
  background-color: transparent;
}
.modal {
  display: none;
  vertical-align: middle;
  position: relative;
  z-index: 20;
  max-width: 1000;
  box-sizing: border-box;
  width: 100%;
  background: black;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  text-align: center;
}

.modal a.close-modal {
  position: absolute;
  top: -12.5px;
  right: -12.5px;
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('img/close.png');

}
@keyframes fadeIn { 
  from { opacity: 0; } 
}

.animate-flicker {
    animation: fadeIn 12s infinite alternate;
}
.dotbisnis{
  height: 35px;
   width: 35px;
   background-color: #1e88e5b2;
    border-radius: 50% ;
    display: inline-block;
     margin-left: 10px;
      margin-top: 15px;
}
.circle{
  background-color:#fff;
  border:7px solid#1e88e5b2;    
  height:65px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width:65px;
}
