/* FONT IMPORT */
@font-face {
  font-family: 'Gilroy-Heavy';
  src: url('fonts/Gilroy-Heavy.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  }

@font-face{
    font-family: 'Open Sans';
    src: url('fonts/opensans-regular.woff2') format('woff2'),
         url('fonts/opensans-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Product Sans';
    src: url('fonts/product_sans_regular.woff2') format('woff2'),
         url('fonts/product_sans_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*=============*/

/* GANTI SCROLL */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: #009EEB;
  border-radius: 12px;
}
* {box-sizing: border-box}
html{
  scroll-behavior: smooth;
  margin:0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  height: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  overflow: auto;
  overflow-x: hidden;
  margin: 0 auto;
  height: 100%;
}
img {
  vertical-align: middle;
}
section {
  display: block;
  position: relative;
  height: auto;
  min-height: 100vh;
}
.centersolute{
position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
}
/* Next & previous buttons */
.prev img, .next img{
  display: block;
  width: 50%;
}
.prev, .next{
  z-index:5;
}
.prev:hover{
  transition: 0.5s ease;
  padding-left: 4rem;
}
.next:hover{
  transition: 0.5s ease;
  padding-right: 2rem;
}
.prev, .next {
  transition: 0.5s ease;
  padding-left: 5rem;
  cursor: pointer;
  position: absolute;
  top: 35%;
  color: white;
  font-weight: bold;
  font-size: 18px;
  user-select: none;
}

.pic{
  width: 87%;
  padding: 3rem 0rem 3rem 8rem;
  padding-top: 10rem;
}
.pic2{
  width: 93%;
  padding: 3rem 0rem 3rem 8rem;
  padding-top: 11rem;
}

/* Position the "next button" to the right */
.next {
  padding-left: 0rem;
  padding-right: 3rem;
  right: 0;
}
.kolom {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.kolom1{
    -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .kolom2 {
    -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .kolom3 {
    -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    max-width: 25%;
  }
  .kolom4 {
    -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%; 
    max-width: 33.333333%;
  }
  .kolom5{
    -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .kolom6{
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%;
  }
  .kolom7{
    -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .kolom73{
    -ms-flex: 0 0 55.333333%;
        flex: 0 0 55.333333%;
    max-width: 55.333333%;
  }
  .kolom8{
    -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .kolom9 {
    -ms-flex: 0 0 75%;
        flex: 0 0 75%;
    max-width: 75%;
  }
  .kolom10 {
    -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .kolom11 {
    -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .kolom12 {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
  }

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.center{
text-align: center !important;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.badge{
  font-size: 34px !important;
}

.disable{
  display: none;
}

/* The dots/bullets/indicators */
.dot {
  border-style: none;
  cursor: pointer;
  height: 8px;
  width: 90px;
  margin: 0 2px;
  background-color: rgb(120, 120, 120);
  border-radius: 35px;
  display: inline-block;
  transition: 0.6s ease;
}
.dot:hover{
  transition: 0.6s ease;
  width: 110px;
}
/* The dots/bullets/indicators */
.dot2 {
  border-style: none;
  height: 14px;
  width: 14px;
  margin: 0 2px;
  background-color: rgb(120, 120, 120);
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
  transition: 0.4s ease;
}
.dot3 {
  border-style: none;
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 2px;
  background-color: rgb(190, 190, 190);
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
  transition: 0.4s ease;
}
.dot3:hover{
  transition: 0.4s ease;
  width: 16;
  height: 16;
}
.dot3 p{
  font-family: 'Product Sans';
  letter-spacing: -1;
  margin-left: -10px;
  font-size: 18px;
  padding-top: 5px;
  text-align: center;
  font-weight: 400;
}
.dot4 {
  border-style: none;
  height: 2.5px;
  width: 9.5rem;
  background-color: rgb(190, 190, 190);
  display: inline-block;
  vertical-align: middle;
  transition: 0.s ease;
}
#indicator{
  margin-top:17.5rem;
}
.active, .dot:hover, .dot3:hover{
  background-color: #009EEB;
}
.active2, .yearslider:hover{
  color:white;
  text-decoration-line: underline;
}
/* Fading animation */


@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.arrow{
cursor: pointer;
transition: 0.5s ease;
width: 10%;
margin-left: 20px;
padding-bottom: 10rem
}
.arrow:hover{
  transition: 0.5s ease;
  padding-top: 2rem;
  }

.navbar{
  font-size: 18px;
  position: absolute;
  margin-top: 1.8rem;
}

.nav{
  margin: 0 16px;
  color: white;
}

.white{
  color: white;
}
a {
  text-decoration: none;
}
.title{
  font-family: 'Gilroy-Heavy' !important;
  cursor: default;
  display: block;
  text-align: center;
  font-size: 9rem !important;
  position: absolute;
  left: 0%;
  right: 0%;
  margin-top: 13rem;
  z-index: 0;
  transition: 0.5s ease;
}

.title:hover{
  transition: 0.5 ease;
  z-index: 1;
  text-shadow: 0.75rem 0.75rem black;
}
.title2{
  margin-top: 2rem !important;
}
.title2 p{
  text-align: left;
  margin:0;
  font-size: 40pt;
  padding-left: 8rem;
}
.title3 p{
  font-size: 58pt;
  
}
.bisnis{
  margin-left: 4rem !important;
}

.particle{
  width: 65%;
  position: absolute;
  margin-top: 200px;
  animation: pt 0.6s infinite alternate;
}

  @keyframes pt {
  from {width: 65%;}
  to {width: 67%;}
}

.particle2{
  width: 65%;
  position: absolute;
  margin-top: 200px;
  animation: pt 0.5s infinite alternate;
}

  @keyframes pt {
  from {width: 65%;}
  to {width: 68%;}
}

.primaryfont{
  font-family: 'Product Sans';
  font-size: 40px;  
  font-weight: 600;
  letter-spacing: -1;
}

.titlefont{
  font-family: 'Gilroy-Heavy';
  font-size: 40px;  
  font-weight: 600;
  letter-spacing: -1;
}

.secondaryfont{
  font-family: 'Open Sans';
  font-size: 15px;
}
.normalfont{
  font-family: 'Product Sans';
  font-size: 40px;
}

.percentage{
  font-size: 56px;
  font-weight: 200 !important;
} 
.percentage div{
  margin-right: 2.5rem;
}
.percentage div p{
  margin: 0;
  margin-left: -5px;
  margin-top: -5px;
  font-size: 18px !important;
  text-align: center;
}
.wrapper{
  text-align:center;
  height:100%;
}
.slider{
  position: absolute;
  margin-left: 46.5rem;
  padding-top: 34rem;
  z-index: 20;
}
.content .primaryfont{
margin-top: 160px;
}

.content .secondaryfont{
  padding-right: 13.5rem;
}
/*tes*/
.example-desc {
  margin:3px 0;
  padding:5px;
}

#carousel {
  margin-top:140px;
  width:100%;
}
#carousel img {
  visibility:hidden; /* hide images until carousel can handle them */
  cursor:pointer; /* otherwise it's not as obvious items can be clicked */
  width:220px;
}
.round{
  transition: 0.4s ease;
  border-width: 0px;
  border-radius: 100%;
  border-style: solid;
  border-color: white;
}
.round:hover{
  transition: 0.4s ease;
  border-width: 5px;
}

.profile{
  text-align: center;
}

.tab{
  padding: 0 33rem;
  text-align: center;
}
.tab h2{
  font-size: 28px;
  margin-bottom: 0px;
}
.tab span{
  font-family: 'Product Sans';
  font-size:17px !important;
  color: #009EEB;
}
.tab i{
font-style: normal;
}

.tab p{
text-align: center !important;
font-size: 18px;
}

.tab2{
  padding: 0 20rem;
  text-align: center;
}

.tab2 p{
text-align: center !important;
font-size: 18px;
margin: 0;
}

.tab2 h1{
  font-size: 2.5rem;
  margin-bottom: 0;
}
.mfp-hide {
  display: none!important;
}
.video{
  transition: 0.4s ease;
  position:absolute;
  margin-top:72.4rem;
  margin-left: 815px;
}
.video img{
  width: 65%;
}

.grad{
  margin-top: 5rem;
  height: 100%;
  background: url(img/grad.png);
}
.grad2{
z-index: -1;
height: 150vh;
background: url(img/grad.png);
background-size: cover;
}

.p{
  padding-top: 30rem;
}

.right{
  text-align: right !important;
}
.left{
  text-align: left !important;
}
.p .secondaryfont{
  padding-top: 1rem;
  font-size: 4rem;
  text-align: center;
}
.p .secondaryfont p{
  margin-block-start: 0;
  font-size: 20px;
}



.jar1{
  position: absolute;
  width: 20%;
  
}

.jar2{
  position: absolute;
  width: 20%;
  left: 80%
}
.jar3{
  position: absolute;
  width: 70%;
  right: 55%
}

.circle {
  height: 100px;
  width: 100px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: inline-block;
  margin-left: 39rem;
}

.secondaryfont i{
  font-style: normal;
}

/* .hideme{
    opacity:0;
}  */
.yearslider{
  font-size: 28px; ; position: absolute; cursor: pointer; 
}
.againts{
  margin: 0;
  font-size: 2.5rem;
  text-align: right;
  margin-right: 8rem;
  padding-top: 4rem;
}
.againts2{
  margin: 0;
  margin-left: 11.5rem;
  padding-top: 7rem;
}
.againts p{
  margin: 0px;
  
}
.title3{
  padding-top: 2rem;
  padding-bottom: 4rem;
  margin-left: 10px;
  text-align: left;
}
.alert{
  padding: 0 28rem;
  text-align: center;
  display: inline-block
}

.alert .primaryfont{
  font-size: 3rem;
}
.alert p{
  text-align: justify !important;
  font-size: 1.5rem;
}

.bgwhite{
  z-index: -100;
  background-color: white;
}

.bgsection{
  z-index: -5;
  position: absolute;
  width: 30%;
}
.bgsection2{
  z-index: -6;
  position: absolute;
  width: 100%;
}
.slidedown{
  cursor: pointer;
  padding-top: 3rem;
  width: 15%;
  transition: 0.6s;
}
.slidedown:hover{
  transition: 0.6s;
  padding-top: 5rem;
}

.foot{
  bottom: 0;
  position:absolute;
  max-width: 100%;
  z-index:-2;
}
.m-0{
  margin: 0px;
}

.btn{
transition: 0.4s ease;
padding: 0.8rem 1rem;
padding-right: 24rem;
border: solid rgb(170, 170, 170);
border-width: 1.4px;
border-radius: 25px;
font-weight: 600;
color: black;
}
.jt{
  text-align: left!important;
  margin-top: 30px;
  padding-left: 8rem;
  padding-right:27rem;
}
.jt2{
  padding-left: 7.5rem;
}
.yearslider{
  font-size: 28px; margin-top: 55px; position: absolute; cursor: pointer;

}
.arial{
  font-family: Helvetica, sans-serif;
}
.blocker {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 10;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.75);
  text-align: center;
}
.blocker:before{
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.05em;
}
.blocker.behind {
  background-color: transparent;
}
.modal {
  display: none;
  vertical-align: middle;
  position: relative;
  z-index: 20;
  max-width: 1000;
  box-sizing: border-box;
  width: 100%;
  background: black;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  text-align: center;
}

.modal a.close-modal {
  position: absolute;
  top: -12.5px;
  right: -12.5px;
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('img/close.png');

}
.dotbisnis{
  height: 35px;
   width: 35px;
   background-color: #1e88e5b2;
    border-radius: 50% ;
    display: inline-block;
     margin-left: 10px;
      margin-top: 15px;
}
.circle2{
  background-color:#fff;
  border:7px solid#1e88e5b2;    
  height:65px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width:65px;
}

.icon-bar {
  z-index:99;
  position: fixed;
  top: 25%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px 12px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  font-size: 24px;
  padding: 24px 12px;
}

.facebook {
  border-top-right-radius: 20px;
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
  border-bottom-right-radius: 20px;
}

.fader{
    height: 235vh;
    width: 100%;
    position: absolute;
    background: black;
    z-index: 5;
    opacity: 0;
  }

  #fadeup{
    opacity: 0;
  }
  .circlec{
    height: 62px;
    width: 62px;
    background-color: white;
    border-radius: 50%;
    border: 4.7px solid #42a5f5;;
    display: inline-block;
    margin-top: 175px; 
    margin-left: 125px;
  }
  .circlec.last2{
    margin-left: 17.5px;
  }
  .titlecircle{
    font-size: 10pt;
     font-weight: 600;
  }
  .titlecircle.last2{
    margin-top: 4.5px;
  }
  .rectangle{
    width: 100%;
    height: 75px;
    bottom: 0;
    opacity: 0.6;
    filter: alpha(opacity=60);
    background-color: #1976d2;  ;
  }
  span a{
    font-size: 15pt;
  }
  .vl {
    border-left: 5px solid #42a5f5;
    height: 100px;
    margin-left: 75px;
    margin-top: 195px;
  
  }
  .v3 {
    border-left: 5px solid #c62828;
    height: 100px;
    margin-left: 75px;
    margin-top: 195px;
   
  }
  .vl2{
    border-left: 5px solid #e0e0e0;  ;
    height: 100px;
    margin-left: 75px;
    margin-top: 295px;
   
  }
  
  .carousel-item{
    position:absolute;
    top:auto;
    bottom:auto;
    left:0;
    right:0;
     opacity:0;
    transition: all 0.5s ease-in-out;
  }
  .arrow2{
    
      
    
  }
  
  .arrow-prev{
   
    position:absolute;
    
    
  }
   
  .arrow-next{
     
    position:absolute;
   
    
    }
  
  .light{
    color:white;
  }
  
  
  
  
  /*Select every element*/
  [id^="item"] {
      display: none;
    }
  
  .item-one {
      z-index: 2;
      opacity: 1;
  
    }
  *:target ~ .item-one {
      opacity: 0;
    }
  
  #item-one:target ~ .item-one {
      opacity: 1;
    }
  
  #item-two:target ~ .item-two, #item-three:target ~ .item-three, #item-four:target ~ .item-four, #item-five:target ~ .item-five {
      z-index: 3;
      opacity: 1;
    }
    .rectangle2{
      width: 100%;
      height: 75px;
      bottom: 0;
      opacity: 0.6;
      filter: alpha(opacity=60);
      background-color:#c62828;  
    }
    .rectangle3{
      width: 100%;
      height: 75px;
      bottom: 0;
      opacity: 0.6;
      filter: alpha(opacity=60);
      background-color: #01579b;  
    }
  
    .dotbisnis2{
      height: 35px;
       width: 35px;
       background-color: #c62828;
        border-radius: 50% ;
        display: inline-block;
         margin-left: 10px;
          margin-top: 15px;
    }
    .dotbisnis3{
      height: 35px;
       width: 35px;
       background-color:#01579b;
        border-radius: 50% ;
        display: inline-block;
         margin-left: 10px;
          margin-top: 15px;
    }
    .circlec2{
      height: 62px;
      width: 62px;
      background-color: white;
      border-radius: 50%;
      border: 4.7px solid #c62828;;
      display: inline-block;
      margin-top: 175px; 
      margin-left: 125px;
    }
    .circlec2.last2{
      margin-left: 17.5px;
    }
    .circlec3{
      height: 62px;
      width: 62px;
      background-color: white;
      border-radius: 50%;
      border: 4.7px solid #01579b;
      display: inline-block;
      margin-top: 175px; 
      margin-left: 125px;
    }
    .circlec3.last2{
      margin-left: 17.5px;
    }
    .v4 {
      border-left: 5px solid #01579b;
      height: 100px;
      margin-left: 75px;
      margin-top: 195px;
      cursor: pointer;
    }
    .dotbisnis4{
      height: 35px;
       width: 35px;
       background-color:#ff9100   ;
        border-radius: 50% ;
        display: inline-block;
         margin-left: 10px;
          margin-top: 15px;
    }
    .rectangle3{
      width: 100%;
      height: 75px;
      bottom: 0;
      opacity: 0.6;
      filter: alpha(opacity=60);
      background-color: #ff9100;  
    }
    .circlec4{
      height: 62px;
      width: 62px;
      background-color: white;
      border-radius: 50%;
      border: 4.7px solid #ff9100;
      display: inline-block;
      margin-top: 175px; 
      margin-left: 125px;
    }
    .circlec4.last2{
      margin-left: 17.5px;
    }
    .v5 {
      border-left: 5px solid #ff9100;
      height: 100px;
      margin-left: 75px;
      margin-top: 195px;
      cursor: pointer;
    }
    .dotbisnis5{
      height: 35px;
       width: 35px;
       background-color:  #313357;
        border-radius: 50% ;
        display: inline-block;
         margin-left: 10px;
          margin-top: 15px;
    }
    .circlec5{
      height: 62px;
      width: 62px;
      background-color: white;
      border-radius: 50%;
      border: 4.7px solid  #313357;
      display: inline-block;
      margin-top: 175px; 
      margin-left: 125px;
    }
    .circlec5.last2{
      margin-left: 17.5px;
    }
    .rectangle4{
      width: 100%;
      height: 75px;
      bottom: 0;
      opacity: 0.6;
      filter: alpha(opacity=60);
      background-color: #313357 ;  
    }
    .rectangle5{
      width: 100%;
      height: 75px;
      bottom: 0;
      opacity: 0.6;
      filter: alpha(opacity=60);
      background-color:  #01579b ;  
    }
    .hovicon {
      display: inline-block;
      font-size: 30px;
      line-height: 90px;
      cursor: pointer;
      margin: 20px;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      text-align: center;
      position: relative;
      text-decoration: none;
      z-index: 1;
      color: #fff;
  }
  .hovicon.mini {
    font-size: 15px;
    line-height:32px;
    width:30px;
    height:30px;
    margin:7px;
  }
  
  .hovicon:after {
      pointer-events: none;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      content:'';
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
  }
  .hovicon:before {
      speak: none;
      font-size: 48px;
      line-height: 90px;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      display: block;
      -webkit-font-smoothing: antialiased;
  }
    .hovicon.effect-9 {
      -webkit-transition: box-shadow 0.2s;
      -moz-transition: box-shadow 0.2s;
      transition: box-shadow 0.2s;
  }
  .hovicon.effect-9:after {
      top: 0;
      left: 0;
      padding: 0;
      box-shadow: 0 0 0 3px #fff;
      -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
      -moz-transition: -moz-transform 0.2s, opacity 0.2s;
      transition: transform 0.2s, opacity 0.2s;
  }
  /* Effect 9a */
   .hovicon.effect-9.sub-a:hover:after {
      -webkit-transform: scale(0.85);
      -moz-transform: scale(0.85);
      -ms-transform: scale(0.85);
      transform: scale(0.85);
      opacity: 0.5;
  }
  .hovicon.effect-9.sub-a:hover {
      box-shadow: 0 0 0 4px rgba(255, 255, 255, 1);
      color: #fff;
  }
  .hovicon.effect-9.sub-a:hover i {
      color: #fff;
  }